* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #383b4c;
    color: #fff;
    margin: 0;
    padding: 1em;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    cursor: url("cursors/iconmonstr-cursor-4-32.png"), auto;
}

ul, li {
    list-style: none;
}

ul li {
    line-height: 1.5em;
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
}


a {
    color: rgb(0, 255, 97);
    text-decoration: none;
}

a:hover {
    cursor: url("cursors/iconmonstr-cursor-31-32.png"), auto;
    text-decoration: underline;
}

/* Typography*/

header {
    font-size: 1.7rem;
    font-weight: 700;
}

#navbar {
    text-align: center;
    font-size: 1.08rem;
}

#navbar ul {
    text-align: left;
}

code {
    background-color: darkblue;
    font-weight: 700;
}

/* Layout */


#navbar ul {
    border: rgb(0, 255, 97) solid 1px;
    border-radius: 1em;
    height: 200px;
    overflow: auto;
}

#navbar li {
    margin: .8em;
    border-bottom: darkblue solid 2px;
}

.main-section {
    margin-top: 2em;
    border: rgb(0, 255, 97) solid 1px;
    border-radius: .8em;
    padding: 1em;
}


footer{
    padding: .8em 0em;
    background-color: rgba(0, 255, 97, 0.8);
    border-radius: 1em;
}

@media (min-width: 900px) {

    body {
        width: 100vw;
        padding: 0;
        display: flex;
        position: relative;
    }


    #navbar {
        height: 100vh;
        width: 20%;
        border-radius: 0;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1;
        background-color: #383b4c;
        margin-right: 2em;
        overflow-x: hidden
    }

    #navbar ul {
        padding: 0;
        height: auto;
        border: none;
        border-radius: 0;
    }

    #navbar li  {
        margin: 0;
        padding: 1em;
        list-style: none;
        border: rgba(0, 255, 97, 0.8) solid 2px;
    }


    #main-doc{
        margin-left: 20%;
        padding: 0 1em;
    }
    .main-section {
        border: none;
        border-bottom: greenyellow 1px solid;
    }
    footer{
        padding: 2em 0;
    }
}